Post-doctoral fellow position(s) are avilable to work on the integration of Deep Learning ad AI technologies 
(e.g., ChatGPT or open-source versions, trasformers and reinformant learning) with brainlife.io and brainlife.io/ezbids.

This is an excellent opportunity for individuals with previous training in computer science, informatics or engineering..

Please email to Annie MacKenzie <annie.mackenzie@utexas.edu> and Franco Pestilli <pestilli@utexas.edu> with 
[brainlife.io Ai engineer] in the subject heading by sending a cover letter stating your interest in 
this project, your CV, and a research statement.  References will be requested after initial contact.

Start date is flexible.

Franco Pestilli, PhD
Associate Professor
The University of Texas at Austin


